<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ufpi.br.ufpimobile">

    <!-- Acesso a internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <!-- Acesso a localização atual do dispositivo -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TelaAbertura"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ErroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MostrarNoticias"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SobreNos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Radio"
            android:label="@string/title_activity_radio"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Sigaa"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContatoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContatoCoordeGraduacaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContatoOrgaoSuplementaresActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContatoProReitoriasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContatoReitoriaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContatoUniAcademicasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Calendario"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RestauranteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Eventos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TelaHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MapsInicio"
            android:label="@string/title_activity_maps_inicio"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".VerCardapio"
            android:label="@string/title_activity_ver_cardapio"
            android:theme="@style/AppTheme" />
        <activity android:name=".CardapioSemana" />
        <activity android:name=".NoticiaEspecificaActivity" />
        <activity android:name=".ShowImages"></activity>
    </application>

</manifest>